<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="company.com.madbikes" >

    <permission
        android:name="company.com.madbikes.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="company.com.madbikes.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.Internet" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="company.google.android.providers.gsf.permission.READ_GSERVICE" />
    <!-- The following two permissions are not required to use Google Maps Android API v2, but are recommended -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bike"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBIAgN8K2qBo2mjA4vc0papMTqGAYI81qs" />

        <activity
            android:name=".MainActivity"
            style="@android:style/Theme.Translucent"
            android:icon="@drawable/bike"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUp" />
        <activity
            android:name=".SignIn"
            android:label="@string/title_activity_sign_in"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ManageProfile"
            android:label="@string/title_activity_manage_profile"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AddNew"
            android:label="@string/title_activity_add_new"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".EditBike"
            >
        </activity>
    </application>

</manifest>
